@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url('assets/fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 100;
  src: url('assets/fonts/Gilroy-Light.woff') format('woff'),
    url('assets/fonts/Gilroy-Light.ttf') format('truetype');
}

* {
  font-family: 'Gilroy', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}
body {
  margin: 0 auto;
  color: #fff;
  background-color: #000;
  max-width: 480px;
  padding: 0 1em;
  line-height: 1;
}

a {
  color: inherit;
}
*:focus {
  outline: none;
}

/* Types */
.main {
  display: none;
}
.fullmsg {
  font-size: 4rem;
  padding-top: 1em;
  margin: 0;
}
.fullmsg.gentle {
  font-size: 3rem;
}

/* Components */
.menu {
  position: fixed;
  bottom: 1rem;
  background: #fff3;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25em;
  border-radius: 2em;
}
.menu button {
  background: none;
  font-size: 2rem;
  padding: 0.25em 0.75em;
  border: none;
  border-radius: 1em;
}
.menu button.active {
  background: #fff3;
}

/* Create view */
.create-form {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}
.create-form-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}
textarea {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 2rem;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

input {
  background: none;
  color: white;
  border: none;
  display: block;
  font-size: 2rem;
}
button {
  background: #fff3;
  font-size: 2rem;
  padding: 0.25em 1.25em;
  border: none;
  border-radius: 1em;
  color: white;
}

/* Timeline view */
.delimiter {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #fff3;
}
.delimiter legend {
  padding: 0 0.5em;
}

.notif {
  padding: 1rem;
  background: #fff1;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.notif p {
  margin: 0.5em 0 0;
  font-size: 2rem;
}
.notif.inactive {
  box-sizing: border-box;
  color: #fff7;
  border: 2px solid #fff1;
  background: none;
}

/* Mixin classes */

.reveal {
  position: relative;
  animation: 1s reveal;
}

@keyframes reveal {
  from {
    opacity: 0;
    top: 1em;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
